:root{
    --color_pink: #EB4A5A;
    --color_fontWhite: #f9fafc;
    --color_white: #f6f3f3;
    --color_black: #434343;
    --color_blue: #274671;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{ font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--color_White);
}
.body-test{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header_cart{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    width: 100%;
    height: 6%;
    background-color: var(--color_fontWhite);
}
.header_logo{
    display: flex;
    margin-left: 3%;
}
.header_cartShopping{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 4px 0px 0px;
    width: 10%;
    height: 90%;
}
.header_cart_icon{
    width: 20px;
    cursor: pointer;
}
.info_card_shopping{
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 55px;
    right: -45%;
    width: 420px;
    height: 80%;
    background-color: var(--color_white);
    color: black;
    border: 5px solid var(--color_pink);
    position: fixed; 
    z-index: 1;
    transition: right 0.3s ease;
}
.active{
    top: 55px;
    right: 1%;
    width: 420px;
    height: 80%;
    background-color: var(--color_white);
    color: black;
    border: 5px solid var(--color_pink);
    border-style: groove;

    overflow-y: scroll;
}
.btn_cart_shop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 40px;
    border: 1px solid var(--color_fontWhite); 
    background-color: var(--color_pink);
    color: var(--color_fontWhite);
    border-radius: 10px;
}
.cart_article{
    display: flex;
    width: 400px;
    height: 30%;
    justify-content: center;
    background-color: #95959576;
}
.cart_article_image{
    width: 130px;

}
 .text_cart{
    line-height: 1.5;
}
.text_cart_article{
width: 100px;
height: 10px;
}
.central_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: var(--color_pink);
}
.central_logo_1{
    display: flex;
    max-width: 120px;
    height: auto;
}
.central_nav_articles{
    width: 100%;
    height: 70%;
}
.singleArticle img{
    display: flex;
    width: 200px;
}
.singleArticle h2{
    font-size: 15px;
    float: left;
}
.Color1{
    width: 20px;
    height: 20px;
    border-radius: 30px;
background-color: var(--color_black);
}
.Color2{
    width: 20px;
    height: 20px;
    border-radius: 30px;
  background-color: var(--color_pink);  
}
.singleArticle p{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 50px;
    font-size: x-large;
}
.singleArticle__colors{
    display: flex;
    gap: 5px;
    width: 200px;

}
.central_items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
}
.singleArticle{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 200px;
    flex-direction: column; 
    border-radius: 6px;
    transition: box-shadow 0.2s ease-in-out;  
}
.singleArticle:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.164)   
}
.nav_articles{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.nav_articles_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav_articles_header h2{
    font-size: 100%;
    margin-left: 2%;
}
.filter_articles{
    width: 10% ;
    height: 50%;
    border: none;
    color: #434343a6;
}
.filter_articles:hover{
    width: 10% ;
    height: 50%;
    border: none;
    background-color: var(--color_pink);
    border-radius: 8px;
    color: #ffffff;
}
.close_details{
    justify-content: flex-end;
    width: 100%;
    height: 20px;
    display: flex;
}
.close_detail{
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 20px;
    height: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    cursor: pointer;
}
.description__items{
    display: none;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.164)   
}
.show{
    display: flex;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.164)   
}
.description{
    line-height: 1.4;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.details__price{
    font-size: x-large;
    font-weight: 600;
}
.details__section2{
    width: 40%;
    margin: 5%;
}
.details{
    width: 80px;
    height: 20px;
    border: none;
    background-color: var(--color_pink);
    color: var(--color_fontWhite);
    border-radius: 5px;  
}
.details:hover{
    width: 80px;
    height: 20px;
    border: none;
    background-color: #434343;
    color: var(--color_fontWhite);
    border-radius: 5px;  
}
.btn__cartShop button{
    width: 180px;
    height: 50px;
    border: none;
    background-color: var(--color_pink);
    color: var(--color_fontWhite);
    border-radius: 5px;
}
.btn__cartShop button:hover{
    width: 180px;
    height: 50px;
    border: none;
    background-color: #434343;
    color: var(--color_fontWhite);
    border-radius: 5px;
}
.btn__cartShop{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.colors{
    display: flex;
    gap: 10px;
}
.Container_detail{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.details_img{
    display: flex;
}
.Container_detail img{
    display: flex;
    width: 300px;
    margin-top: 50px;
    position: absolute;
}
.font_detail_image{
    background: var(--color_pink);
    width: 200px;
    height: 400px;
    margin-top: 40px;
}

@media (max-width: 910px) {
    .header_cart_icon{
        display: flex;
        width: 15px;
    }
    .info_card_shopping{
        top: 55px;
        right: -120%;
        width: 400px;
        height: 80%;
        background-color: var(--color_white);
        color: black;
        border: 5px solid var(--color_pink);
        position: fixed; 
        transition: right 0.3s ease;
    }
    .active{
        top: 55px;
        right: -5%;
        width: 400px;
        height: 80%;
        background-color: var(--color_white);
        color: black;
        border: 5px solid var(--color_pink);
        border-style: groove;
        position: fixed;
        right:  -1%;
    }
    .singleArticle img{
        display: flex;
        width: 150px;
    }
    .singleArticle{
        display: flex;
        align-items: center;
        padding: 5px;
        width: 150px;
        flex-direction: column; 
        border-radius: 6px;
        transition: box-shadow 0.2s ease-in-out;  
    }
    .singleArticle h2{
        font-size: 8px;
        float: left;
    }
    .Color1{
        width: 10px;
        height: 10px;
        border-radius: 30px;
        background-color: var(--color_black);
    }
    .Color2{
        width: 10px;
        height: 10px;
        border-radius: 30px;
        background-color: var(--color_pink);  
    }
    .singleArticle p{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 50px;
        font-size: large;
    }
    .singleArticle__colors{
        display: flex;
        gap: 5px;
        width: 150px;
    
    }
    .nav_articles{
        display: flex;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}